<form #form="ngForm">

    <div class="row w-75 mx-auto my-5 backgroundWhite border" style="border-radius:10px;">
        <div class="col-12 p-3 my-3">
            <h2 class="text-dark text-center">{{pageTitle}}</h2>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-12">
                    <label for="code">Code</label>
                    <input name="code" class="form-control" ngModel />         
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="name"></label>
                    <input name="name" class="form-control" ngModel/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="country"></label>
                    <input name="country" class="form-control" ngModel/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="zip"></label>
                    <input name="zip" class="form-control" ngModel/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="city"></label>
                    <input name="city" class="form-control" ngModel />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="address"></label>
                    <input name="address" class="form-control" ngModel />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="isOutlander"></label>
                    <input for="isOutlander" type="checkbox"  ngModel/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <a class="btn btn-primary form-control">Back to List</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{form.value | json}}