<div class='row'>
    <div class='col-md-2'>Filter by:</div>
    <div class='col-md-4'>
      <input type='text'
             [(ngModel)]='listFilter' />
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <h4>Filtered by: {{listFilter}}</h4>
    </div>
  </div>

<div class="p-4" style="border-radius:10px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">{{pageTitle}}</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Create New Recipient</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblData" class="table table-striped row-border" style="width:100%" >
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Country</th>
                <th>Zip</th>
                <th>City</th>
                <th>Address</th>
                <th class="text-center">Outlander?</th>
                <th class="text-center">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let recipient of recipients'>             
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>{{recipient}}</td>
                <td>Ide gomb kell</td>
            </tr>
            <!-- <tr *ngFor = 'let recipient of recipients'>             
                <td>{{recipient.code}}</td>
                <td>{{recipient.name}}</td>
                <td>{{recipient.country}}</td>
                <td>{{recipient.zip}}</td>
                <td>{{recipient.city}}</td>
                <td>{{recipient.address}}</td>
                <td>{{recipient.isOutlander}}</td>
                <td>Ide gomb kell</td>
            </tr> -->
        </tbody>
    </table>
</div>