<form #form="ngForm">

    <div class="row w-75 mx-auto my-5 backgroundWhite border" style="border-radius:10px;">
        <div class="col-12 p-3 my-3">
            <h2 class="text-dark text-center">{{pageTitle}}</h2>
        </div>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-12">
                    <label for="code">Code:</label>
                    <input name="code" required #codeField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.code" /> 
                    <div [hidden] = "codeField.valid || codeField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter a code.
                    </div>   
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <label for="name">Name:</label>
                    <input name="name" required #nameField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.name" /> 
                    <div [hidden] = "nameField.valid || nameField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter a name.
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="country">Country:</label>
                    <input name="country" required #countryField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.country" /> 
                    <div [hidden] = "countryField.valid || countryField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter a country.
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="zip">Zip code:</label>
                    <input name="zip" required #zipField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.zip" /> 
                    <div [hidden] = "zipField.valid || zipField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter a zip code.
                    </div> 
                </div>
            </div>          
            <div class="form-group row">
                <div class="col-12">
                    <label for="city">City:</label>
                    <input name="city" required #cityField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.city" /> 
                    <div [hidden] = "cityField.valid || cityField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter a city.
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="address">Address:</label>
                    <input name="address" required #addressField="ngModel" class="form-control" [(ngModel)]="recipientUpsert.address" /> 
                    <div [hidden] = "addressField.valid || addressField.untouched" class="mt-1 py-1 alert alert-danger">
                        Enter an address.
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label for="isOutlander">Is outlander:</label>
                    <input for="isOutlander" type="checkbox" required #isOutlanderField="ngModel" [(ngModel)]="recipientUpsert.isOutlander"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <a class="btn btn-primary form-control">Back to List</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>