<header>
  <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-5">
      <div class="container" style="min-width: 100%">

          <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
              <img class="navbar-brand my-auto" src="/favicon.ico" alt="IMG">WebUI
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-md-inline-flex justify-content-between ml-auto">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Notes" asp-action="Upsert" asp-route-id="null">Create delivery note</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" asp-area="" asp-controller="Recipients" asp-action="Upsert" asp-route-id="null">Create recipient</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" routerLink='/recipients'>Recipient List</a>
                </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark py-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Search
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" asp-area="" asp-controller="NoteLines" asp-action="Index">Note lines</a>
                          <a class="dropdown-item" asp-area="" asp-controller="Recipients" asp-action="Index">Recipients</a>
                      </div>
                  </li>
                  <li class="nav-item ml-md-5">
                      <form method="post" asp-controller="Users" asp-action="Logout">
                          <button class="btn btn-danger text-white">
                              <i class="fa fa-user"></i> &nbsp; Logout
                          </button>
                      </form>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<router-outlet></router-outlet>